@import '../../../stylesheets/utilities.scss';;

.files-list
{
  @include form-style();
  width: 50%;

  table
  {
    width: 100%;
    border-collapse: collapse;

    input
    {
      width: 100%;
    }
  }
}