#contentWrapper
{
	text-align: center;
}

#regisForm
{
	display: inline-block;
	border: solid;
	border-width: 1px;
	/*border-radius: 5px;*/
	padding: 3%;
	width: 30vw;
}

.inField
{
	display: flex;
	flex-direction: column;
	
	*
	{
		flex-grow: 1;
		margin: 2%;
		padding: 2%;
	}
}

.inFieldName
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	
	*
	{
		flex: auto;
		margin: 2%;
		padding: 2%;
	}
}