// Font
$font-main: #333333;
$font-header: #ffffff;
$font-link: #ed8600;

// Header
$header-background: #002aa8;
$header-item-hover: #2c54cd;
$header-item-hover-underline: #71aac7;

// Form
$form-background: #333130;

// Input
$input-background: #494847;
$input-focus: #08e8e5;
$input-invalid: #e80857;

// Misc
$background: #ebeff2;