@import '../../stylesheets/colours.scss';
@import '../../stylesheets/utilities.scss';;

.account-info, .code-record
{
	@include form-style();

	margin: 1em;

	width: 70%;
}

.code-record
{
	overflow: hidden;
	text-overflow: ellipsis;

	.codeBlock
	{
		font-size: 10pt;
		padding: 0.5em;
		width: 90%;
		height: 80%;
		overflow: auto;
	}

	.title
	{
		font-weight: bold;
	}

	.desc
	{
		color: grey;

		.toggle-code
		{
			color: white;
			cursor: pointer;
		}
	}
}

