$blockPadding: 3%;
$borderRadius: 5px;

.block
{
	font-size: 10pt;
	border-radius: $borderRadius;
	outline: 3px solid black;
	margin: 0 1%;
	padding: $blockPadding;
	width: 50vh;
	height: 50vh;
	overflow: auto;
	
	&:active
	{
		outline: 3px solid grey;
	}
}

.overlay
{
    position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

.overlayBlock
{
	font-size: 10pt;
	border-radius: $borderRadius;
	position: fixed;
	top: 10vh;
	left: calc(50vw - 38vh);
	padding: $blockPadding;
	width: 70vh;
	height: 70vh;
	background: white;
	overflow: auto;
}

button
{
	border: 0;
}